body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h2 {
  text-align: center;
}

table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

input, select, button {
  width: 120px;
  height: 32px;
  padding: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

button {
  background-color: #02307a;
  color: white;
  
  cursor: pointer;
}

button:hover {
  background-color: #084298;
}

.add-btn {
  width: 160px;
  height: 32px;
  margin-left: 5%;
  margin-top: 10px;
  white-space: nowrap;
}

h3 {
  margin-left: 5%;
  margin-top: 15px;
}
